---
import { getCollection } from "astro:content";
import { useState } from "react";
import Layout from "~/components/layout.astro";
import Table from "~/components/result-table.astro";
import {winners} from "~/lib/winners.ts";
import Carousel from "~/components/carousel.component.jsx";
import { getLangFromUrl, useTranslations } from "~/utils/i18n";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations("results", lang);
const results = await getCollection("results");
const sortedResults = results.sort((a, b) => b.data.year - a.data.year);
console.log(sortedResults);
---

<Layout
  title={t("tasks_header")}
  description={t("tasks_description")}
>

<!-- <div class="w-[700px] h-[700px] z-100">
  <Carousel slides={winners} client:load/>
</div>   -->

  <div
    class="lg:col-start-11 sticky-gsap lg:sticky relative col-span-4 lg:col-span-2 lg:top-24 mb-5 lg:-right-5 lg:w-60 bg-primary-500 rounded-xl overflow-hidden  px-4 py-8 lg:py-14 lg:row-span-3 lg:h-[700px] overflow-y-auto"
  >
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 222 852" fill="none" class="inset-0 absolute"> 
  <path d="M117.037 860.776L264.386 -123.642M-61.3062 725.807L264.386 -123.642M264.386 -123.642L-26.4734 216.138" stroke="#1C8EB8" stroke-width="64"></path> 
  </svg>
    <h2 class="text-3xl text-white relative ">{t("tasks_tasks")}</h2>

    <div class="flex flex-col gap-4 mt-8 lg:mt-20">
      
             <a
         href="/tasks/junior_qualifier_2024_kz_sols.pdf"
         class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
       >
         {t("junior_qualifier")}
         <div
           class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_year_2024")}
         </div>
         <div
           class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_kaz")}
         </div>
       </a>
              <a
          href="/tasks/junior_qualifier_2024_ru_sols.pdf"
         class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
       >
         {t("junior_qualifier")}
         <div
           class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_year_2024")}
         </div>
         <div
           class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_rus")}
         </div>
       </a>
       <a
         href="/tasks/junior_final_2024_rus.pdf"
         class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
       >
         {t("junior_final")}
         <div
           class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_year_2024")}
         </div>
         <div
           class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_rus")}
         </div>
       </a>
       <a
         href="/tasks/senior_qualifier_2024_kz_sols.pdf"
        class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
      >
        {t("senior_qualifier")}
        <div
          class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_year_2024")}
        </div>
        <div
          class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_kaz")}
        </div>
      </a>
      <a
        href="/tasks/senior_qualifier_2024_ru_sols.pdf"
        class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
      >
        {t("senior_qualifier")}
        <div
          class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_year_2024")}
        </div>
        <div
          class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_rus")}
        </div>
      </a>
      <a
        href="/tasks/senior_final_2024_ru.pdf"
        class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
      >
        {t("senior_final")}
        <div
          class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_year_2024")}
        </div>
        <div
          class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_rus")}
        </div>
      </a>
      <a
        href="/tasks/junior_qualifier_2025.pdf"
        class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
      >
        {t("junior_qualifier")}
        <div
          class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_year_2025")}
        </div>
      </a>
      <a
        href="/tasks/senior_qualifier_2025.pdf"
        class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
      >
        {t("senior_qualifier")}
        <div
          class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_year_2025")}
        </div>
      </a>
      <a
        href="/tasks/final_2025.pdf"
        class="p-2 rounded-lg text-white relative bg-primary-700 text-lg"
      >
        {t("final")}
        <div
          class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
        >
          {t("label_year_2025")}
        </div>
      </a>
    </div>
  </div>

  {
    sortedResults.map((table_result) => (
      <>
        <div class="col-span-4 pt-0 mt-0">
          <h2 class="text-neutral-300 text-3xl mb-2">{t("senior_league")}</h2>
          <p class="text-neutral-700 leading-relaxed">
            {t("senior_description").replace("{table_result.data.year}", String(table_result.data.year))}
          </p>
          <a
         href={`/tasks/qualification_results_${table_result.data.year}.pdf`}
         class="p-1 rounded-lg text-white relative bg-primary-700 text-lg mr-4 mb-4 inline-block"
       >
         {t("qualifier_results")}
         <div
           class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {table_result.data.year}
         </div>
         <div
           class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_rus")}
         </div>
       </a>
       <a
         href={`/tasks/disqualification_protocol_${table_result.data.year}.pdf`}
         class="p-1 rounded-lg text-white relative bg-primary-700 text-lg mr-4 mb-4 inline-block"
       >
         {t("disqualification_protocol")}
         <div
           class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {table_result.data.year}
         </div>
         <div
           class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_rus")}
         </div>
       </a>
        </div>
        <div class="lg:col-span-6 lg:block hidden" />

        <Table
          className="col-span-4 lg:col-span-10 col-start-1"
          results={table_result.data.senior}
        />
        <div class="col-span-4 pt-6 mt-16">
          <h2 class="text-neutral-300 text-3xl mb-2">Младшая Лига</h2>
          <p class="text-neutral-700 leading-relaxed">
            Обзор Итогов Олимпиады {table_result.data.year}: Лучшие Выступления
            в Младшей Категории
          </p>
          <a
         href="/tasks/qualification_results.pdf"
         class="p-1 rounded-lg text-white relative bg-primary-700 text-lg mr-4 mb-4 inline-block"
       >
         {t("qualifier_results")}
         <div
           class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {table_result.data.year}
         </div>
         <div
           class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_rus")}
         </div>
       </a>
       <a
         href="/tasks/disqualification_protocol.pdf"
         class="p-1 rounded-lg text-white relative bg-primary-700 text-lg mr-4 mb-4 inline-block"
       >
         {t("disqualification_protocol")}
         <div
           class="absolute right-2 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {table_result.data.year}
         </div>
         <div
           class="absolute right-12 rounded-md bottom-0 translate-y-1/2 text-xs bg-primary-900 px-1 py-0.5"
         >
           {t("label_rus")}
         </div>
       </a>
        </div>
        <div class="lg:col-span-6 lg:block hidden" />
        <Table
          className="col-span-4 lg:col-span-10 col-start-1"
          results={table_result.data.junior}
        />
      </>
    ))
  }
</Layout>
