---
import { getCollection } from "astro:content";
import TeamMember from "~/components/team-member.astro";
import Layout from "~/components/layout.astro";
import { getLangFromUrl, useTranslations } from "~/utils/i18n";

const team = await getCollection("team");
const academics = team.filter((entry) => entry.slug.startsWith("academic/"));
const executives = team.filter((entry) => entry.slug.startsWith("executive/"));
const lang = getLangFromUrl(Astro.url);
const t = useTranslations("team", lang);
---

<Layout
  title={t("title")}
  grid={false}
  description={t("description")}
>
  <div
    class="col-span-full bg-primary-500 p-3 lg:p-6 text-3xl lg:text-8xl font-bold rounded-xl lg:rounded-3xl relative overflow-clip my-5 lg:my-20"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1431 157"
      fill="none"
      class="absolute inset-0 h-full lg:h-auto"
    >
      <path
        d="M693.47 152.008L-45.5 15.5M693.47 152.008L230.5 -67.5M693.47 152.008L546.001 -33.9992M693.47 152.008L808.001 -33.9992M693.47 152.008L1084.5 -67.5M693.47 152.008L1461.5 15.5M693.47 152.008L1470.5 152.008M693.47 152.008L-134.001 139.5"
        stroke="#1C8EB8"
        stroke-width="64"
        class=""></path>
    </svg>
    <h1 class="relative text-white text-center">{t("academic")}</h1>
  </div>
  {
    academics.map((academic) => (
      <TeamMember
        member={academic.data}
        className="col-span-full"
        id={academic.id}
      />
    ))
  }
  <div
    class="col-span-full bg-primary-500 p-3 lg:p-6 text-3xl lg:text-8xl font-bold rounded-xl lg:rounded-3xl relative overflow-clip my-5 lg:my-20 header-executives"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1431 157"
      fill="none"
      class="absolute inset-0 h-full lg:h-auto"
    >
      <path
        d="M693.47 152.008L-45.5 15.5M693.47 152.008L230.5 -67.5M693.47 152.008L546.001 -33.9992M693.47 152.008L808.001 -33.9992M693.47 152.008L1084.5 -67.5M693.47 152.008L1461.5 15.5M693.47 152.008L1470.5 152.008M693.47 152.008L-134.001 139.5"
        stroke="#1C8EB8"
        stroke-width="64"
        class="sun"></path>
    </svg>
    <h1 class="relative text-white text-center">{t("executive")}</h1>
  </div>
  <div class="col-span-full flex flex-col gap-5 executives">
    {
      executives.map((executive) => (
        <TeamMember member={executive.data} id={executive.id} />
      ))
    }
  </div>
  <div class="mb-20"></div>
</Layout>

<script>
  // import { gsap } from "gsap";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);
  gsap.utils.toArray(".member div").forEach((member) => {
    gsap.from(member as any, {
      scrollTrigger: {
        trigger: member as any,
        toggleActions: "restart none none none",
      },
      y: "100%",
      ease: "power4.out",
    });
  });
</script>
