---
import type { CollectionEntry } from "astro:content";
import { cn } from "~/utils/cn";
import { getLangFromUrl, useTranslations } from "~/utils/i18n";

interface Props {
  className?: string;
  id: string;
  member: CollectionEntry<"team">["data"];
}

const {
  member,
  id,
  className,
} = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations("team", lang);

const localizedName =
  (lang === "en" && member.name_en) ||
  (lang === "kz" && member.name_kz) ||
  member.name;

const localizedPosition =
  (lang === "en" && member.position_en) ||
  (lang === "kz" && member.position_kz) ||
  member.position;

const localizedAchievements =
  (lang === "en" && member.achievements_en) ||
  (lang === "kz" && member.achievements_kz) ||
  member.achievements;
---

<div class={cn(className)}>
  <div
    class="border-b border-neutral-300 py-6 overflow-hidden relative member"
    id={id}
  >
    <div
      class="grid grid-cols-1 lg:grid-cols-6 lg:gap-5 gap-3 text-4xl lg:text-8xl items-baseline sticky"
    >
      <span class="col-span-5 leading-tight">{localizedName}</span>
      <p class="uppercase text-neutral-300 text-base">{localizedPosition}</p>
    </div>
  </div>
  <div
    class="grid-cols-1 lg:grid-cols-6 gap-5 border-b border-neutral-300 grid relative max-h-0 overflow-hidden duration-300"
  >
    <span class="col-span-3 lg:mt-6 mt-3">{t("achievements_label")}</span>
    <div class="col-span-3 grid grid-cols-2 lg:grid-cols-3 gap-5 lg:my-6 my-3">
      {
        localizedAchievements
          .sort((a: string, b: string) => a.length - b.length)
          .map((achievement: string) => <span>{achievement}</span>)
      }
    </div>
  </div>
</div>

<script define:vars={{ id, open: (localizedAchievements?.length ?? 0) > 0 }}>
  const accordion = document.getElementById(id);

  if (open) {
    accordion.addEventListener("click", function () {
      const panel = this.nextElementSibling;
      console.log(panel.style.maxHeight);
      panel.style.maxHeight = !!panel.style.maxHeight
        ? null
        : panel.scrollHeight + "px";
    });
  }
</script>
